{% extends 'base.html.twig' %}

{% block title %}Cajero Dashboard{% endblock %}

{% block body %}
 <h1>Historial de facturas</h1>
      {% if listFacturas and listFacturas|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>Motivo</th>
              <th>CAJERO</th>
              
              
             
            </tr>
           </thead>
           <tbody>
             {% for factura in listFactura %} 
                <tr scope = "row">
                  <td>{{factura.id}}</td>
                 <td>{{factura.fe_creacion ? factura.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{factura.motivo}}</td>
                  <td>{{factura.cajero_nombres}} {{factura.cajero_apellidos}}</td> 
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen facturas registradas</strong></p>
       {% endif %}  
       
       <a href="{{path('app_logout')}}">Cerrar Sesion</a>
{% endblock %}