{% extends 'base.html.twig' %}

{% block title %}secretaria Dashboard{% endblock %}

{% block body %}
 <h1>Sus paquetes agendados</h1>
    <div class="col-lg-8 align-center">
      {% if listPaquetes and listPaquetes|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>PESO</th>
              <th>DESTINO</th>
              <th>ESTADO</th>
              <th>TIPO</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for paquete in listPaquetes %} 
                <tr scope = "row">
                  <td>{{paquete.id}}</td>
                 <td>{{paquete.peso}}</td>
                  <td>{{paquete.destino}}</td>
                  <td>{{paquete.estado}}</td>
                  <td>{{paquete.tipo}}</td>
                  <td>
                       <a href="{{path('app_secretaria_dashboard_edit',{'id': paquete.id})}}">Editar</a>
                       <a href="{{path('app_secretaria_dashboard_delete',{'id': paquete.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen paquetes registradas</strong></p>
       {% endif %}
    </div>  
{% endblock %}