{% extends 'base.html.twig' %}

{% block title %}secretaria Dashboard{% endblock %}

{% block body %}
 <div class="p-5 text-center bg-light">
      <h1 class="my-3">Registro de Paquete</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.repartidor_id,'Repartidor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.repartidor_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.repartidor_id)}}
                </div>
          </div>
         <div class="col-md-12 my-2">
               {{form_label(formulario.paquetes,'Repartidor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.paquetes) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.paquetes)}}
                </div>
          </div>
    
          <div class="row col-md-12 my-2">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      
</div>

    
{% endblock %}