{% extends 'base.html.twig' %}

{% block title %}Registrar Paquete¡Secretaria{% endblock %}

{% block body %}
<div class="p-5 text-center bg-light">
      <h1 class="my-3">Registro de Paquete</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.peso,'Peso*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.peso) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.peso)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.destino,'Destino*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.destino) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.destino)}}
                </div>
               
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.tipo,'Tipo*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.tipo) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.tipo)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.emisor,'Emisor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.emisor) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.emisor)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.emisor_id,'Identificacion del Emisor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.emisor_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.emisor_id)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.receptor,'Receptor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.receptor) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.receptor)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.receptor_id,'Identificacion del Receptor*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.receptor_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.receptor_id)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.estado,'Estado*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.estado) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.estado)}}
                </div>
          </div>
          <div class="row col-md-12 my-2">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      
</div>
{% endblock %}