{% extends 'base.html.twig' %}

{% block title %}Paciente Dashboard{% endblock %}

{% block body %}
 <h1>Sus turnos agendados</h1>
    <div class="col-lg-8 align-center">
      {% if listTurnos and listTurnos|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>DESCRIPCION</th>
              <th>ESTADO</th>
              <th>TIPO</th>
              <th>MEDICO</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for turno in listTurnos %} 
                <tr scope = "row">
                  <td>{{turno.id}}</td>
                 <td>{{turno.fecha ? turno.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{turno.descripcion}}</td>
                  <td>{{turno.estado}}</td>
                  <td>{{turno.descripcionTipoTurno}}</td>
                  <td>{{turno.nombre_medico}} {{turno.apellido_medico}}</td>
                  <td>
                       <a href="{{path('app_paciente_dashboard_edit',{'id': turno.id})}}">Editar</a>
                       <a href="{{path('app_paciente_dashboard_delete',{'id': turno.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen turnos registradas</strong></p>
       {% endif %}
    </div>  
{% endblock %}
