{% extends 'base.html.twig' %}

{% block title %}Register User{% endblock %}

{% block body %}
<div class="p-5 text-center bg-light">
      <h1 class="my-3">Atender Incidente</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.solucion,'Solucion*')}}
               {{ form_errors(formulario.solucion) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.solucion)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.estado,'Estado*')}}
               {{ form_errors(formulario.estado) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.estado)}}
                </div>
               
          </div>
          
          
          <div class="row">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      <div>
         
      </div>
</div>