{% extends 'base.html.twig' %}

{% block title %}Dev Dashboard{% endblock %}

{% block body %}
 <h1>Dashboard Dev</h1>
      {% if listJuegos and listJuegos|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>TITULO</th>
              <th>DESCRIPCION</th>
              <th>ESTADO</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for juego in listJuegos %} 
                <tr scope = "row">
                  <td>{{juego.id}}</td>
                  <td>{{juego.titulo}}</td>
                  <td>{{juego.descripcion}}</td>
                  <td>{{juego.estado}}</td>
                  <td>
                       <a href="{{path('app_dev_dashboard_edit',{'id': juego.id})}}">Editar</a>
                       <a href="{{path('app_dev_dashboard_delete',{'id': juego.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen juegos registrados</strong></p>
       {% endif %}  
       <a href="{{path('app_dev_dashboard_register')}}">Añadir Juego</a>
       <a href="{{path('app_logout')}}">Cerrar Sesion</a>
{% endblock %}
