{% extends 'base.html.twig' %}

{% block title %}Tecnicos Dashboard{% endblock %}

{% block body %}
 <h1>Tickets del Tecnico</h1>
      {% if listTickets and listTickets|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>MOTIVO</th>
              <th>ESTADO</th>
              <th>CLIENTE</th>
              <th>DuRACION</th>
              
              
             
            </tr>
           </thead>
           <tbody>
             {% for ticket in listTickets %} 
                <tr scope = "row">
                  <td>{{ticket.id}}</td>
                 <td>{{ticket.fe_creacion ? ticket.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{ticket.motivo}}</td>
                  <td>{{ticket.estado}}</td>
                  <td>{{ticket.cliente_nombres}} {{ticket.cliente_apellidos}}</td>
                  <td>{{ticket.duracion}}</td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen tickets registrados</strong></p>
       {% endif %}  
       <a href="{{path('app_tecnico_dashboard_tickets')}}">Ver tickets pendientes</a>
       <a href="{{path('app_logout')}}">Cerrar Sesion</a>
{% endblock %}
