{% extends 'base.html.twig' %}

{% block title %}Guardia | Tabla de incidentes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Guardia|Lista de Incidentes</h1>
      {% if listIncidentes and listIncidentes|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr >
              <th>ID</th>
              <th>FECHA</th>
              <th>DESCRIPCION</th>
              <th>ESTADO</th>
              <th>TIPO INCIDENTE</th>
              <th>NOMBRE DEL GUARDIA</th>
              <th>APELLIDOS DEL GUARIDA</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for incidente in listIncidentes %} 
                <tr scope = >
                  <td >{{incidente.id}}</td>
                  <td>{{incidente.fecha ? incidente.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{incidente.descripcion}}</td>
                  <td>{{incidente.estado}}</td>
                  <td  >{{incidente.descripciontipoIncidente}}</td>
                  <td>{{incidente.residente_nombres}}</td>
                  <td>{{incidente.residente_apellidos}}</td>
                  <td>
                       <a class= "btn btn-success btn-block" href="{{path('app_guardia_dashboard_atender',{'id': incidente.id})}}">Atender</a>

                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen incidentes registrados</strong></p>
       {% endif %}  
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
</div>
{% endblock %}

