{% extends 'base.html.twig' %}

{% block title %}Cita Register Dashboard{% endblock %}

{% block body %}
<div class="p-5 text-center bg-light">
      <h1 class="my-3">Atendiendo Turno</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.fecha,'Fecha*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.fecha) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.fecha)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.descripcion,'Descripcion*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.descripcion) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.descripcion)}}
                </div>
               
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.tipo_id,'Tipo de Cita*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.tipo_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.tipo_id)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.observacion,'Observacion*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.observacion) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.observacion)}}
                </div>
          </div>
          <div class="row col-md-12 my-2">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      
</div>
{% endblock %}