{% extends 'base.html.twig' %}

{% block title %}Cajero Dashboard{% endblock %}

{% block body %}
 <h1>Factras por Cobrar</h1>
      {% if listFacturas and listFacturas|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>DESCRIPCION DE CITA</th>
              <th>OPCIONES</th>
              
              
             
            </tr>
           </thead>
           <tbody>
             {% for factura in listFactura %} 
                <tr scope = "row">
                  <td>{{factura.id}}</td>
                 <td>{{factura.fe_creacion ? factura.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{factura.descripcion}}</td>
                  <td>
                       <a href="{{path('app_cajero_cobrar',{'id': factura.id})}}">Cobrar</a>
                       
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen facturas registradas</strong></p>
       {% endif %}  
       
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}
