{% extends 'base.html.twig' %}

{% block title %}Medicos Dashboard{% endblock %}

{% block body %}
 <h1>Medicos Paciente</h1>
      {% if listCitas and listCitas|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>MOTIVO</th>
              <th>ESTADO</th>
              <th>PACIENTE</th>
             
              
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for cita in listCitas %} 
                <tr scope = "row">
                  <td>{{cita.id}}</td>
                 <td>{{cita.fe_creacion ? cita.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{cita.motivo}}</td>
                  <td>{{cita.estado}}</td>
                  <td>{{cita.paci_nombres}} {{cita.paci_apellidos}}</td> 
                  <td>
                       <a href="{{path('app_med_dashboard_atender',{'id': cita.id})}}">Atender</a>
                       
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen citas registradas</strong></p>
       {% endif %}  
       <a href="{{path('app_med_dashboard')}}">Regresar</a>
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}