{% extends 'base.html.twig' %}

{% block title %}Cita Register Dashboard{% endblock %}

{% block body %}
<div>
    <h1>Rellenar Datos de la Cita</h1>

    {{ form_start(formulario)}}
       {{ form_widget(formulario)}}
    {{ form_end(formulario)}}
    <a href="{{path('app_med_dashboard')}}">Cancelar</a>
</div>
{% endblock %}