{% extends 'base.html.twig' %}

{% block title %}Cajero Dashboard{% endblock %}

{% block body %}
 <h1>Facturas</h1>
      {% if listFacturas and listFacturas|length >0%}
        <table  class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>TOTAL</th>
              <th>DESCRIPCION DE CITA</th>
              <th>PACIENTE</th>
              <th>TURNO ID</th>
              <th>CAJERO</th>
              <th>ESTADO EN BASE</th>
   
            </tr>
           </thead>
           <tbody>
             {% for factura in listFactura %} 
                <tr scope = "row">
                  <td>{{factura.id}}</td>
                 <td>{{factura.fecha ? factura.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{factura.total}}</td>
                  <td>{{factura.descripcion}}</td>
                  <td>{{factura.paci_nombres}} {{factura.paci_apellidos}}</td>
                  <td>{{factura.cajero_nombres}} {{factura.cajero_apellidos}}</td> 
                  <td>{{factura.turno_id}}</td>
                  <td>{{factura.estado_base}}</td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen facturas registradas</strong></p>
       {% endif %}  
       
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}

