{% extends 'base.html.twig' %}

{% block title %}Cajero Dashboard{% endblock %}

{% block body %}
 <h1>Facturas</h1>
      {% if listFacturas and listFacturas|length >0%}
       <div class="col-lg-8 align-center">
       <form class="row g-3">
  {{form_start(formulario)}}
        <div class="row">
          <div class="col-auto">
               {{form_label(formulario.fecha,'Fecha*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.fecha) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.fecha)}}
                </div>
          </div>
          
          <div class="col-auto">
               {{form_label(formulario.tipo_id,'Tipo*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.tipo_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.tipo_id)}}
                </div>
          </div>
          <div class="row col-md-12 my-2">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div> 
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
        <table  class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>TOTAL</th>
              <th>DESCRIPCION DE CITA</th>
              <th>PACIENTE</th>
              <th>CAJERO</th>
              
   
            </tr>
           </thead>
           <tbody>
             {% for factura in listFacturas %} 
                <tr scope = "row">
                  <td>{{factura.id}}</td>
                 <td>{{factura.fecha ? factura.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{factura.total}}</td>
                  <td>{{factura.descripcion}}</td>
                  <td>{{factura.paci_nombres}} {{factura.paci_apellidos}}</td>
                  <td>{{factura.cajero_nombres}} {{factura.cajero_apellidos}}</td> 
                </tr>
             {% endfor %}   
           </tbody>
        </table>
        </div>
       {% else %}
         <p style="color:red"><strong>No existen facturas registradas</strong></p>
       {% endif %}  
       
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}

