{% extends 'base.html.twig' %}

{% block title %}Cajero Dashboard{% endblock %}

{% block body %}
 <h1>Facturas por Cobrar</h1>
      {% if listFacturas and listFacturas|length >0%}
       <div class="col-lg-8 align-center">
        <table  class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>TOTAL</th>
              <th>DESCRIPCION DE CITA</th>
              <th>PACIENTE</th>
              <th>OPCIONES</th>
   
            </tr>
           </thead>
           <tbody>
             {% for factura in listFacturas %} 
                <tr scope = "row">
                  <td>{{factura.id}}</td>
                 <td>{{factura.fecha ? factura.fecha|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{factura.total}}</td>
                  <td>{{factura.descripcion}}</td>
                  <td>{{factura.paci_nombres}} {{factura.paci_apellidos}}</td>
                  <td>
                       <a href="{{path('app_cajero_dashboard_cobrar',{'id': factura.id})}}">Cobrar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table
        </div>
       {% else %}
         <p style="color:red"><strong>No existen facturas registradas</strong></p>
       {% endif %}  
       
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}

