{% extends 'base.html.twig' %}

{% block title %}Cliente Dashboard{% endblock %}

{% block body %}
 <h1>Sus tickets creados</h1>
    <div class="col-lg-8 align-center">
      {% if listTickets and listTickets|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>MOTIVO</th>
              <th>ESTADO</th>
              
              <th>TECNICO</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for ticket in listTickets %} 
                <tr scope = "row">
                  <td>{{ticket.id}}</td>
                 <td>{{ticket.fe_creacion ? ticket.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{ticket.motivo}}</td>
                  <td>{{ticket.estado}}</td>
                  
                  <td>{{ticket.nombre_tecnico}} {{ticket.apellido_tecnico}}</td>
                  <td>
                       <a href="{{path('app_cliente_dashboard_edit',{'id': ticket.id})}}">Editar</a>
                       <a href="{{path('app_cliente_dashboard_delete',{'id': ticket.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen tickets registrados</strong></p>
       {% endif %}
    </div>  
       <a href="{{path('app_cliente_dashboard_register')}}">Añadir ticket</a>
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}
