{% extends 'base.html.twig' %}

{% block title %}Paciente Dashboard{% endblock %}

{% block body %}
 <h1>Sus citas agendadas</h1>
    <div class="col-lg-8 align-center">
      {% if listCitas and listCitas|length >0%}
        <table>
           <thead>
             <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>MOTIVO</th>
              <th>ESTADO</th>
              <th>TIPO DE CITA</th>
              <th>MEDICO</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for cita in listCitas %} 
                <tr scope = "row">
                  <td>{{cita.id}}</td>
                 <td>{{cita.fe_creacion ? cita.fe_creacion|date('Y-m-d H:i:s') : ''}}</td>
                  <td>{{cita.motivo}}</td>
                  <td>{{cita.estado}}</td>
                  <td>{{cita.descripcionTipoCita}}</td>
                  <td>{{cita.nombre_medico}} {{cita.apellido_medico}}</td>
                  <td>
                       <a href="{{path('app_paciente_dashboard_edit',{'id': cita.id})}}">Editar</a>
                       <a href="{{path('app_paciente_dashboard_delete',{'id': cita.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen citas registradas</strong></p>
       {% endif %}
    </div>  
       <a href="{{path('app_paciente_dashboard_register')}}">Añadir Cita</a>
       <a href="{{path('app_login')}}">Cerrar Sesion</a>
{% endblock %}
