{% extends 'base.html.twig' %}

{% block title %}Factura Pagar{% endblock %}

{% block body %}
<div>
    <h1> Pago de Factura</h1>

    {{ form_start(formulario)}}
       {{ form_widget(formulario)}}
    {{ form_end(formulario)}}
    <a href="{{path('app_cajero')}}">Cancelar</a>
</div>
{% endblock %}